# Игнорировать служебные файлы IDE
.idea/
*.iws
*.iml
*.ipr
out/
.settings/
.classpath
.project
.factorypath
.springBeans
.sts4-cache
.vscode/

# Игнорировать файлы Gradle
.gradle/
build/

# Исключить только gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.jar

# Игнорировать файлы NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Игнорировать временные файлы
*.log
*.tmp